.ryan {
  position: relative;
  top: 50px;
  left: 80px;
}
.ryan_head {
  background-color: #dc9935;
  height: 210px;
  width: 235px;
  border-radius: 50%;
  border: 5px solid black;
  position: relative;
  z-index: 30;
  display: flex;
  justify-content: space-between;
}

.ear1,
.ear2 {
  background-color: #dc9935;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid black;
  z-index: 10;
  position: absolute;
  top: -2px;
}
.ear1 {
  left: 31px;
}
.ear2 {
  left: 152px;
}

.eyebrow1,
.eyebrow2 {
  width: 54px;
  height: 10px;
  border: 5px solid black;
  border-radius: 5px;
  position: absolute;
  top: 67px;
  z-index: 40;
}
.eyebrow1 {
  left: 36px;
}
.eyebrow2 {
  left: 150px;
}

.eye1,
.eye2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 90px;
  z-index: 40;
}
.eye1 {
  left: 59px;
}
.eye2 {
  left: 166px;
}

.nose {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 120px;
  left: 112px;
  z-index: 50;
}

.mouse1,
.mouse2 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 5px solid black;
  background-color: white;
  position: absolute;
  top: 120px;
  z-index: 40;
}
.mouse1 {
  left: 88px;
}
.mouse2 {
  left: 119px;
}
.mouse_cover {
  width: 14px;
  height: 11px;
  background-color: white;
  position: absolute;
  top: 130px;
  z-index: 40;
  left: 113px;
}

.brush1,
.brush2 {
  background-color: pink;
  width: 54px;
  height: 10px;
  border-radius: 5px;
  z-index: 40;
  position: absolute;
  top: 126px;
  animation: 2s brush_effect infinite ease-in-out;
}
.brush1 {
  left: 23px;
}
.brush2 {
  left: 163px;
}
@keyframes brush_effect {
  0% {
    background-color: pink;
  }
  50% {
    background-color: #dc9935;
  }
  100% {
    background-color: pink;
  }
}
